{{ template "header" }}

<h1>{{ .List.Name }}</h1>

<p>The list is accessible under the name: {{.ID}}</p>

<p> Items </p>
<div style="overflow-x-auto;">
<table>
	<tr>
		<th>Name</th>
		<th>Link</th>
		<th>Assigned</th>
	</tr>
	<tr>
		<form id="createItemForm" onsubmit="createItem(); return false">
			<input type="hidden" name="listid" value="{{.ID}}">
			<td><input type="text" name="itemname" placeholder="New Item" required></td>
			<td><input type="text" name="link" placeholder="Link"></td>
			<td><input type="checkbox" name="assigned"></td>
			<td><button class="add" type="submit">+</button></td>
		</form>
	</tr>

{{ range $i, $val := .List.Items }}
	<tr>
		<td>{{$val.Name}}</td>
		<td><a href={{$val.Link}}>{{$val.Link}}</a></td>
		{{ if $val.Assigned }}
			<td>yup</td>
		{{else}}
			<td>nope</td>
		{{end}}
		<td>
			<button class="assign" type="button" onclick="assignItem({{$.ID}},{{$val.ID}});">assign</button>
			<button class="edit" type="button" onclick="updateItem({{$.ID}},{{$val.ID}});">edit</button>
			<button class="delete" type="button" onclick="deleteItem({{$.ID}},{{$val.ID}});">-</button>
		</td>
	</tr>
{{end}}
</table>
</div>

	<script>
		String.prototype.escapeQuoteJSON = function() {
			return this.replace(/"/g, '\\"');
		}

		function deleteItem(listid, itemid) {
			console.log(listid, itemid)
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("DELETE", "/list/"+listid+"/items/"+itemid+"/", false);
			xmlhttp.send();

			location.reload();
		}

		function updateItem(listid, itemid) {
			location.href='/web/edit/'+listid+"/"+itemid;
		}

		function assignItem(listid, itemid) {
			console.log(listid, itemid)
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/list/"+listid+"/items/"+itemid+"/", false);
			xmlhttp.setRequestHeader("Content-Type", "application/json");
			json = '{"assigned":true}'
			xmlhttp.send(json);

			location.reload();
		}

		function createItem(){
			var form = document.getElementById("createItemForm");
			var name = form.itemname.value;
			var listid = form.listid.value;
			var link = form.link.value;
			var assigned = form.assigned.checked;
			form.reset()
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/list/"+listid+"/items/", false);
			xmlhttp.setRequestHeader("Content-Type", "application/json");
			json = '{"name":"'+name.escapeQuoteJSON()+'","link":"'+link.escapeQuoteJSON()+'","assigned":'+assigned+'}'
			xmlhttp.send(json);

			location.reload();
		}
	</script>

{{ template "footer" }}
